@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
nav {
  height: 10vh;
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: #657B83;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-brand, .nav-option {
  color: #EEE8D5;
  text-decoration: none;
}

.nav-brand {
  font-family: "Sacramento", sans-serif;
  font-size: 5vmin;
  text-align: center;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center center;
  gap: 2.5rem;
  font-size: 2vmin;
  padding: 2.5rem;
  margin-top: 0;
}

.nav-option {
  font-family: "Ruda", Helvertica, sans-serif;
}

.hamburger-img {
  width: 100%;
  height: 100%;
}

.menu-btn {
  display: inline-block;
  max-width: 30px;
  max-height: 30px;
}

@media screen and (min-width: 785px) {
  .menu-btn {
    display: none;
  }
}
@media screen and (max-width: 786px) {
  nav {
    grid-template-columns: 80% 20%;
    place-items: center center;
  }

  .nav-brand {
    font-size: 35px;
  }

  .nav-list {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .nav-brand {
    font-size: 30px;
  }
}
.curly-heading, .main-heading {
  color: #657B83;
  font-size: 4vmax;
  text-align: center;
}

.home-page {
  margin-top: 10vh;
  display: flex;
  flex-direction: row-reverse;
}

.home-page-heading {
  position: relative;
  left: -15%;
}

.home-page-img {
  max-width: 200vmin;
  margin: 2.5rem;
  justify-content: flex-end;
}

.home-page-img > img {
  max-width: 100%;
  max-height: 100%;
}

.curly-heading {
  font-family: "Sacramento", sans-serif;
}

.main-heading {
  font-family: "Ruda", Helvertica, sans-serif;
  margin-bottom: 0.5rem;
  padding: 0;
}

.underline {
  position: relative;
  border-top: 1px solid #657B83;
  width: 65%;
  left: 40%;
}

#home-page-main-heading {
  position: relative;
  right: -20%;
}

@media screen and (max-width: 785px) {
  .curly-heading, .main-heading {
    font-size: 7vmin;
    margin: 1.5rem auto;
  }

  .home-page {
    flex-direction: column;
    gap: 2.5rem;
  }

  .home-page-img {
    margin: 1.5rem auto;
  }

  .home-page-heading {
    margin: 2rem auto;
    justify-content: center;
    left: 0;
  }

  #home-page-main-heading {
    right: 0;
  }

  .underline {
    left: 20%;
  }
}
.big-screen {
  display: grid;
  grid-template-columns: 60% 40%;
  place-items: start center;
  height: auto;
  margin-top: 5rem;
}

.about-me {
  display: grid;
  grid-template-rows: 20% 1% 19% 60%;
  height: 100vh;
}

.left {
  margin: auto 2rem;
}

.right > img {
  max-width: 100%;
  max-height: 100%;
  margin: 3vh auto;
  position: fixed;
}

.p-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #657B83;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2.5;
  margin: 5rem auto;
  width: 85%;
}

#about-me-underline {
  width: 20%;
  top: -10%;
}

.right > h1 {
  margin-top: 7rem;
  font-size: 5vmin;
}

@media screen and (max-width: 900px) {
  .about-me {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .right > h1 {
    margin: 1vh;
    font-size: 50px;
  }

  .p-text {
    margin: 2rem auto;
  }

  .right > img {
    max-width: 100%;
    max-height: 100%;
    margin: 1vh auto;
  }

  #about-me-underline {
    left: 40%;
    position: relative;
    top: -290%;
  }
}
body {
  background-color: #FDF6E3;
}

.scrolling-pc {
  max-width: 100vmin;
  max-height: 100vmin;
}

.pc-img {
  max-width: 100%;
  max-height: 100%;
}

section {
  display: block;
}

a {
  text-decoration: none;
}

.my-projects {
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 1% 74% 10%;
  grid-template-columns: 1fr 1fr;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 1rem 2rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

.projects-grid > a:not(#show) {
  outline: 2px solid firebrick;
  max-height: 100%;
  max-width: 100%;
}

#my-projects-heading {
  grid-column-start: 1;
  grid-column-end: 3;
}

.click-me {
  height: 25%;
  width: 40%;
  outline: 1px solid blueviolet;
  margin: 10rem auto 0;
}

.projects-grid > a {
  text-decoration: none;
  text-align: center;
}

.click-me-text {
  color: green;
}

.show-more {
  max-height: 50px;
  max-width: 100px;
  border: 1px solid #657B83;
  text-align: center;
  padding: 0.5rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  margin: 0;
}

#show {
  margin: 2rem 0;
  padding: 0;
  width: 100px;
  height: 50px;
  position: relative;
  left: -18%;
  grid-column-start: 2;
  grid-column-end: 3;
}

.show-more-text {
  color: #657B83;
  text-decoration: none;
  text-align: center;
}

.my-projects-underline {
  width: 20%;
  grid-column-start: 1;
  grid-column-end: 3;
}