@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Radio+Canada&family=Roboto+Flex:opsz,wght@8..144,300&family=Ruda:wght@500&family=Smooch&family=Space+Grotesk:wght@300&display=swap");
nav {
  height: 10vh;
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: #657B83;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-brand, .nav-option {
  color: #EEE8D5;
  text-decoration: none;
}

.nav-brand {
  font-family: "Sacramento", sans-serif;
  font-size: 5vmin;
  text-align: center;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center center;
  gap: 2.5rem;
  font-size: 2vmin;
  padding: 2.5rem;
  margin-top: 0;
}

.nav-option {
  font-family: "Ruda", Helvertica, sans-serif;
}

.hamburger-img {
  width: 100%;
  height: 100%;
}

.menu-btn {
  display: inline-block;
  max-width: 30px;
  max-height: 30px;
}

.btn-pressed-nav-list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 35vh;
  width: 50vw;
  background-color: #657B83;
  text-decoration: none;
  list-style: none;
  justify-items: end;
  position: fixed;
  top: 8%;
  right: 0;
  padding: 0;
  border: 0.5px solid black;
}

.btn-pressed-nav-option {
  color: #FDF6E3;
  grid-row: 1/5;
  font-size: 25px;
  font-family: "Ruda", Helvertica, sans-serif;
}

.btn-pressed-nav-item {
  margin: 1rem auto;
}

@media screen and (min-width: 785px) {
  .menu-btn {
    display: none;
  }

  .btn-pressed-nav {
    display: none;
  }
}
@media screen and (max-width: 786px) {
  nav {
    grid-template-columns: 80% 20%;
    place-items: center center;
  }

  .nav-brand {
    font-size: 35px;
  }

  .nav-list {
    display: none;
  }

  .btn-pressed-nav {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .nav-brand {
    font-size: 30px;
  }
}
.home-page {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 9vh auto;
}

.home-page-curly {
  grid-column: 7/10;
  grid-row: 1/2;
  justify-self: center;
  align-self: start;
  font-weight: 100;
}

.home-page-main {
  grid-column: 8/11;
  grid-row: 1/2;
  align-self: center;
  justify-self: start;
}

.home-page-underline {
  grid-column: 8/10;
  grid-row: 1/2;
  justify-self: center;
  align-self: end;
  height: 2rem;
}

.home-page-img {
  margin: 2.5rem;
  grid-column: 1/10;
  grid-row: 1/4;
  align-self: center;
  justify-self: center;
}

.home-page-img > img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 550px) {
  .home-page-curly, .home-page-main {
    grid-row: 1/2;
    align-self: center !important;
  }

  .home-page-curly {
    grid-column: 2/6 !important;
  }

  .home-page-main {
    grid-column: 6/11 !important;
  }

  .home-page-underline {
    display: none;
  }
}
@media screen and (max-width: 785px) {
  .curly-heading, .main-heading {
    font-size: 5vmax;
  }

  .home-page-curly, .home-page-main, .home-page-underline {
    grid-column: 3/9;
  }

  .home-page-main {
    grid-row: 1/2;
    justify-self: center;
  }

  .home-page-img {
    grid-row: 2/4;
    grid-column: 3/11;
  }
}
.big-screen {
  display: grid;
  grid-template-columns: 60% 40%;
  place-items: start center;
  height: auto;
  margin-top: 5rem;
}

.about-me {
  display: grid;
  grid-template-rows: 15% 6% 19% 60%;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.right > img {
  max-width: 100%;
  max-height: 100%;
}

#my-pic {
  grid-column: 1/3;
  justify-self: center;
}

.p-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #657B83;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2.5;
  margin: 5rem auto;
  width: 85%;
  grid-column: 1/3;
}

#about-me-underline {
  width: 20%;
  grid-column: 1/3;
  justify-self: center;
}

#about-me-heading {
  grid-column: 1/3;
  align-self: end;
}

body {
  background-color: #FDF6E3;
}

.scrolling-pc {
  max-width: 60vmax;
  max-height: 65vmax;
  grid-column: 1/3;
}

.pc-img {
  max-width: 85%;
  max-height: 85%;
}

section {
  display: block;
}

a {
  text-decoration: none;
}

.curly-heading, .main-heading {
  color: #657B83;
  font-size: 3vmax;
  text-align: center;
}

.curly-heading {
  font-family: "Sacramento", sans-serif;
}

.main-heading {
  font-family: "Ruda", Helvertica, sans-serif;
  margin-bottom: 0.5rem;
  padding: 0;
}

.underline {
  border-top: 1px solid #657B83;
  width: 50%;
}

.left {
  margin: auto 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.right {
  margin-right: 2rem;
}

.scrolling-pc {
  position: fixed;
  top: 40vh;
  left: 0;
}

.my-projects {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 6% 37% 37% 10%;
  grid-template-columns: 1fr 1fr;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 1rem 2rem;
  grid-column: 1/3;
  grid-row: 3/5;
}

.projects-grid > a:not(#show) {
  max-height: 100%;
  max-width: 100%;
}

#my-projects-heading {
  margin: 0;
  grid-column: 1/3;
  align-self: end;
}

.click-me {
  height: 25%;
  width: 40%;
  outline: 1px solid blueviolet;
  grid-row: 3/5;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.projects-grid > a {
  text-decoration: none;
  text-align: center;
}

.click-me-text {
  color: green;
}

.show-more {
  max-height: 50px;
  max-width: 100px;
  border: 1px solid #657B83;
  text-align: center;
  padding: 0.5rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  margin: 0;
}

#show {
  margin: 2rem 0;
  padding: 0;
  width: 100px;
  height: 50px;
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}

.show-more-text {
  color: #657B83;
  text-decoration: none;
  text-align: center;
}

.my-projects-underline {
  width: 20%;
  grid-column: 1/3;
  justify-self: center;
}

.project {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  outline: 2px solid firebrick;
}

.my-resume {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 5% 80%;
  height: 100vh;
  margin: 5rem auto;
}

#my-resume-heading {
  grid-column: 1/3;
  align-self: end;
  justify-self: center;
}

.my-resume-underline {
  grid-column: 1/3;
  justify-self: center;
  width: 20%;
}

.resume-container {
  max-width: 100%;
  max-height: 100%;
  grid-row: 3/4;
  grid-column: 1/3;
  outline: 3px solid darkgreen;
}

.my-contact {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 5% 80%;
}

#my-contact-heading {
  grid-column: 1/3;
  place-self: end center;
}

.my-contact-underline {
  grid-column: 1/3;
  place-self: start center;
  width: 20%;
}

.contacts-img {
  max-width: 30%;
  max-height: 30%;
  margin-left: 3rem;
}

.contacts-container > a {
  grid-row: 2/3;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.contacts-container {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

@media screen and (max-width: 1050px) {
  .viewer {
    height: 100vh;
    width: 100vw;
  }

  .big-screen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .left {
    display: block;
    grid-column: 1/4;
  }

  .scrolling-pc-portrait {
    position: fixed;
    right: 15%;
    left: 25%;
    bottom: 5%;
  }

  .pc-img {
    width: 75%;
    height: 75%;
  }

  .right {
    grid-column: 1/4;
  }

  #about-me-heading {
    font-size: 5vw;
  }

  #about-me-underline {
    grid-column: 1/4;
  }
}