.big-screen {
    // outline: 5px solid black;
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: start center;
    // gap: 2rem;
    height: auto;
    margin-top: 5rem;
}


.about-me {
    display: grid;
    grid-template-rows: 15% 6% 19% 60%;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.left {
    margin: auto 2rem;
}

.right > img {
    max-width: 100%;
    max-height: 100%;
}

#my-pic {
    grid-column: 1 / 3;
    // position: relative;
    // left: -27%;
    justify-self: center;
    // align-self: center;
}

.p-text {
    font-family: Arial, Helvetica, sans-serif;
    color: $navbar-color;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 2.5;
    margin: 5rem auto;
    width: 85%;
    grid-column: 1 / 3;
}

#about-me-underline {
    width: 20%;
    grid-column: 1 / 3;
}

#about-me-heading {
    grid-column: 1 / 3;

}

@media screen and (max-width: 900px) {
    
    .about-me {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }

    .right > h1 {
        margin: 1vh; 
        font-size: 50px;
    }

    .p-text {
        margin: 2rem auto;
    }

    .right > img {
        max-width: 100%;
        max-height: 100%;
        margin: 1vh auto;
    }

    #about-me-underline {
        left: 40%;
        position: relative;
        top: -290%;
    }

}

