@import './variables';

body {
    background-color: $bg-color;
}

.scrolling-pc {
    // outline: 3px solid brown;
    max-width: 100vmin;
    max-height: 100vmin;
    grid-area: main;
}

.pc-img{
    max-width: 100%;
    max-height: 100%;
}

section {
    display: block;
}

a {
    text-decoration: none;
}

.curly-heading, .main-heading{
    color: $navbar-color;
    font-size: 3vmax;
    text-align: center;
}

.curly-heading{
    font-family: $heading2-font;
}

.main-heading{
    font-family: $heading1-font;    
    margin-bottom: 0.5rem;
    padding: 0;
}

.underline {
    // position: relative;
    border-top: 1px solid $navbar-color;
    width: 50%;
    // left: 40%;
    
}

.left {
    margin: auto 2rem;
    //box-sizing: border-box;
}

.scrolling-pc {
    position: fixed;
    top: 40vh;
    left: 0;
}