@import './variables';

.home-page {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 9vh auto;
}

// .home-page-heading{
//    grid-column: 7/ 11;
// }

.home-page-curly {
    //color: purple;
    grid-column: 7/10;
    grid-row: 1 / 2;
    justify-self : center;
    align-self: start;
    font-weight: 100;
}

.home-page-main {
    grid-column: 8/11;
    grid-row: 1/ 2;
    align-self: center;
    justify-self: start;
}

.home-page-underline {
    grid-column: 8/ 10;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: end;
    height: 2rem;
}

.home-page-img {
    // max-width: 200vmin;
    margin: 2.5rem;
    grid-column: 1 / 10;
    grid-row: 1 / 4;
    align-self: center;
    justify-self: center;;
}

.home-page-img > img {
    max-width: 100%;
    max-height: 100%;
}



// #home-page-main-heading {
//     position: relative;
//     right: -20%;
// }

//even smaller screen
@media screen and (max-width: 550px) {
   
    .home-page-curly, .home-page-main {
        grid-row: 1/2;
        align-self: center !important;
    }

    .home-page-curly {
        grid-column: 2/ 6 !important;
    }

    .home-page-main {
        grid-column: 6 / 11 !important;;
    }

    .home-page-underline {
        display: none;
    }
}


//smaller screen
@media screen and (max-width: 785px) {

    .curly-heading, .main-heading{
        font-size: 5vmax;
        
    }

    .home-page-curly, .home-page-main, .home-page-underline {
        grid-column: 3/ 9;
    }

    .home-page-main {
        grid-row: 1/2;
        justify-self: center;
    }

    .home-page-img {
        grid-row: 2/4;
        grid-column: 3/11;
    }


}

//larger screen
@media screen and (max-width: 1000px) {
    // .home-page-underline{
    //     // height: 2rem;
    // }
    
}