@import './variables';



@media screen and (max-width: 1050px) {

    .viewer {
        height: 500vh;
        width: 100vw;
    }


    .big-screen {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .left {
        display: block;
        grid-column: 1/4;
    }

    .scrolling-pc-portrait {
        position: fixed;
        right: 15%;
        left: 25%;
        bottom: 5%;
    }

    .pc-img {
        width: 75%;
        height: 75%;
    }

    .right {
        grid-column: 1/ 4;
    }

    #about-me-heading{
        font-size: 5vw;
    }

    #about-me-underline{
        grid-column: 1/4;
    }
    
}