@import './variables';

.my-projects {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 6% 74% 10%;
    grid-template-columns: 1fr 1fr; //added this
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
   // place-items: center center;
    margin: 1rem 2rem;

    //adding here
    // grid-column-start: 1;
    // grid-column-end: 3;
    //short hand
    grid-column: 1 / 3;
}

.projects-grid > a:not(#show) {
    outline: 2px solid firebrick;
    max-height: 100%;
    max-width: 100%;
}

//adding here
#my-projects-heading {
    margin: 0;
    //shorthand
    grid-column: 1 / 3;
}

.click-me {
    height: 25%;
    width: 40%;
    outline: 1px solid blueviolet;
    margin: 10rem auto 0;
}

.projects-grid > a {
    text-decoration: none;
    text-align: center;
}

.click-me-text {
    color: green;
}

.show-more {
    max-height: 50px;
    max-width: 100px;
    border: 1px solid $navbar-color;
    text-align: center;
    padding: 0.5rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    margin: 0;
}

#show {
    // background-color: red;
    margin: 2rem 0;
    padding: 0;
    width: 100px;
    height: 50px;
    // position: relative;
    // left: -18%;
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
}

.show-more-text {
    color: $navbar-color;
    text-decoration: none;
    text-align: center;
}

.my-projects-underline {
    width: 20%;
    // grid-column-start: 1;
    // grid-column-end: 3;
    grid-column : 1 / 3 ;
}
